{% load static %}

<footer>
    <h4 class="title"><strong>Siga nossas redes</strong></h4>
    <div class="social-media">
        {% if gerencial.instagram %}
        <a href="{{ gerencial.instagram }}" target="_blank">
        {% else %}
        <a href="#">
        {% endif %}
            <img class="footer-img" src="{% static 'public/img/instagram-3d.svg' %}" alt="Instagram">
        </a>
        <a href="https://api.whatsapp.com/send?phone={{ gerencial.whatsapp}}" target="_blank">
            <img class="footer-img" src="{% static 'public/img/whatsapp-3d.svg' %}" alt="Facebook">
        </a>
    </div>
    <div class="all-rights-reserved"><h6><a href="https://www.instagram.com/lgabriel_fauth/" target="_blank" style="text-decoration: none;">© Todos os direitos reservados</a> | v1.00.005</h6></div>
</footer>