{% load static %}

<footer>
    <h4 class="title"><strong>Siga nossas redes</strong></h4>
    <div class="social-media">
        <a href="https://www.instagram.com/lgabriel_fauth/" target="_blank">
            <img class="footer-img" src="{% static 'public/img/instagram.svg' %}" alt="Instagram">
        </a>
        <a href="https://www.facebook.com/luangabriel.fauth/" target="_blank">
            <img class="footer-img" src="{% static 'public/img/whatsapp.svg' %}" alt="Facebook">
        </a>
    </div>
    <div class="all-rights-reserved"><h6>© Todos os direitos reservados</h6></div>
</footer>