{% load static %}

<footer>
    <h4 class="title"><strong>Siga nossas redes</strong></h4>
    <div class="social-media">
        <a href="https://www.instagram.com/tartas.hotdog/" target="_blank">
            <img class="footer-img" src="{% static 'public/img/instagram.svg' %}" alt="Instagram">
        </a>
        <a href="https://api.whatsapp.com/send?phone=5567999778632" target="_blank">
            <img class="footer-img" src="{% static 'public/img/whatsapp.svg' %}" alt="Facebook">
        </a>
    </div>
    <div class="all-rights-reserved"><h6>© Todos os direitos reservados | v1.00.002</h6></div>
</footer>