{% load static %}
<header>
    <a class="header-logo" href="/">
        <img class="header-img" src="{{ gerencial.logo }}" alt="Logo">
    </a>
    
    <div class="header-menu">
        <!-- <a class='dropdown-trigger btn header-menu-options' href='#' data-target='dropdown1'>
            Menu<span class="material-icons">menu</span>
        </a>
        <ul id='dropdown1' class='dropdown-content'>
            <li></li>
            <li>
                <a class="header-menu-options" href="/promocao/">
                    Promoção<span class="material-icons">fastfood</span>
                </a>
            </li>
            <li>
                <a class="header-menu-options" href="/pedidos/">
                    Pedidos<span class="material-icons">menu_book</span>
                </a>
            </li>
        </ul> -->
    </div>
</header>

<div class="welcome-img" style="background-image: url('{{ gerencial.imagem }}');"><div><p>{{ gerencial.nome_estabelecimento }}</p></div></div>