{% extends 'base.html' %} 

{% load static %}

{% block title %}Cardápio{% endblock %} 

{% block content %}

[[ pratos ]]
  <div class="card" v-for="(p,index) in prato" :key="index">
      <div
        class="card-img"
        style="background-image: url('{% static 'public/Cardapio/Pizza-Napolitana.jpg' %}');"
      ></div>
      <div class="card-descricao">
        <h3 class="card-title">[[ p.title ]]</h3>
        <p class="card-subtitle">[[ p.desc ]]</p>
        <p class="card-ingredients">
          <strong>Ingredientes: </strong>[[ p.ingred ]]
        </p>
      </div>
      <div class="card-div-btn">
        <a href="/addpedidos/{{ d.id }}" class="card-btn">
          <span class="material-icons">
            shopping_basket
          </span>
          Comprar
        </a>
      </div>
  </div>
{% endblock %}
