{% extends 'base.html' %} 

{% load static %}

{% block title %}{{ gerencial.nome_estabelecimento }}{% endblock %} 

{% block content %}
<h2 style='width: 100%; text-align: center;'>Nossos produtos</h2>
<section id="index-view">
  {% for p in produtos %}
  {% if time >= gerencial.abertura or time <= gerencial.fechamento %}
    {% if p.disponibilidade %}
    <a class="modal-trigger" data-target="modal{{p.id}}" style="color: black; cursor: pointer;">
    {% else %}
    <a class="modal-trigger" data-target="modal-indisponivel" style="color: black; cursor: pointer;">
    {% endif %}
  {% else %}
    <a class="modal-trigger" data-target="modal-fechado" style="color: black; cursor: pointer;">
  {% endif %}
      <div class="card">
        <div class="card-img" style="background-image: url('{{ p.image }}');"></div>
        <div class="card-data">
          <h5 class="card-data-title">{{ p.name }}</h5>
          <p class="card-data-desc">{{ p.desc }}</p>
          {% if p.ingredients %}
          <p class="card-data-ingredients">
            <strong>Ingredientes: </strong><br>{{ p.ingredients }}
          </p>
          {% endif %}
        </div>
        <div class="card-div-btn">
          <button class="card-btn pulse" style="z-index: 100;"><b>R$ {{ p.value }}</b><!--<span class="material-icons" style="font-size: 48px;">shopping_basket</span>--></button>
        </div>
      </div>
    </a>

    <div id="modal{{p.id}}" class="modal">
      <div class="modal-content">
        <h4>{{ p.name }}</h4>
        <div class="card-img" style="background-image: url('{{ p.image }}'); width: 100%; height: 100px; border-radius: 5px;"></div>
        <div class="card-data" style="width: 100%; display: flex; align-items: center; flex-direction: column;">
          <h6 style="margin-top: 24px;"><b>Informações adicionais</b></h6>
          <div class='div-qtd'>
            <div class="input-field" style="width: 150px; margin-right: 16px;">
              <input type="number" name="qtd" id="qtd" v-model="qtd">
              <label for="qtd" id="qtdLabel">Quantidade</label>
            </div>
            <!-- <div class="input-field" style="width: 150px;">            
              <p>
                <label style="display: flex; align-items: center;">
                  <input type="checkbox" class="filled-in" v-model="maionese">
                  <span>Maionese?</span>
                </label>
              </p>
            </div> -->
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button v-if="qtd" @click="pedidos({{ p.id }})" class="btn modal-close">Adicionar ao pedido</button>
        <button v-else @click="pedidos({{ p.id }})" class="btn">Adicionar ao pedido</button>
      </div>
    </div>
    
    {% endfor %}
  <!-- Modal Structure -->
  <div id="modal-carrinho" class="modal">
    <form action='/pedidos/addpedido/' method="POST">
      {% csrf_token %}
      <div class="modal-content">
        
        <h4>Seu Pedido</h4>
        <div v-show="pedido.length <= 0" style="border: 1px solid red; color: red; width: 100%; text-align: center;">Deve ser adiciona ao menos 1 item!</div>
        <div v-for="ped in pedido">
          <div style="align-items: center; display: flex; flex-wrap: wrap;">
            <div class="img-pedido" :style="{'background-image': 'url('+ped.image+')'}"></div>
            <div style="display: flex; flex-direction: column;">
              <h6><b>Nome:</b> [[ ped.title ]]</h6>
              <div style="display: flex; justify-content: space-between">
                <h6><b>Qtd:</b> [[ ped.qtd ]]</h6>
                <h6><b>Valor: </b>[[ ped.total ]]</h6>
              </div>
              <!-- <h6 v-if="ped.maionese == true"><b>Maionese?</b> Sim</h6>
              <h6 v-else><b>Maionese?</b> Não</h6> -->
            </div>
          </div>
          <hr>
        </div>
        
        <p v-show="total" style="text-align: end;"><b>Total: </b>R$ [[ total ]]</p>
        <div class="card-data">
          <h6 class="card-data-title"><strong>{{ p.name }}</strong></h6>
        </div>
        <div style="display: flex; align-items: center;">
          <div class="input-field" style="width: 30%; margin-right: 10%;  ">
            <input type="text" name="cpf" id="cpf" maxlength="14" @blur="cpfValidate" @blur="sendPedido" v-on:keydown="cpfMaskDown($event)" v-on:keyup="cpfMaskUp($event)">
            <label for="cpf" id="cpfLabel">CPF</label>
          </div>
          <div class="input-field" style="width: 60%;">
            <input type="text" name="idname" id="idname" maxlength="30" @blur="sendPedido" v-model="nome">
            <label for="idname" id="nameLabel">Nome</label>
          </div>
        </div>
        <div style="display: flex; justify-content: space-evenly;">
          <div class="forma-retirada">
            <label style="display: flex; align-items: center;">
              <input type="checkbox" class="filled-in" @click="retiradaForma" @click="sendPedido" v-model="entrega">
              <span>Entrega?</span>
            </label>
            <label style="display: flex; align-items: center;">
              <input type="checkbox" class="filled-in" @click="retiradaForma" @click="sendPedido" v-model="retirada">
              <span>Retirar no local?</span>
            </label>
            <label style="display: flex; align-items: center;">
              <input type="checkbox" class="filled-in" @click="retiradaForma" @click="sendPedido" v-model="local">
              <span>Comer no local?</span>
            </label>
          </div>
          <div class="forma-pagamento">
            <label style="display: flex; align-items: center;">
              <input type="checkbox" class="filled-in" @click="pagamentoForma" @click="sendPedido" v-model="dinheiro">
              <span>Dinheiro</span>
            </label>
            <label style="display: flex; align-items: center;">
              <input type="checkbox" class="filled-in" @click="pagamentoForma" @click="sendPedido" v-model="debito">
              <span>Débito</span>
            </label>
            <label style="display: flex; align-items: center;">
              <input type="checkbox" class="filled-in" @click="pagamentoForma" @click="sendPedido" v-model="credito">
              <span>Crédito</span>
            </label>
          </div>
        </div>
        <div v-show="entrega">
          <div class="input-field">
            <input type="text" name="rua" @blur="sendPedido" id="rua" maxlength="50" v-model="end">
            <label for="rua">Rua/Bairro/Nº</label>
          </div>

        </div>
      </div>
      <div class="modal-footer">
        <a class="btn modal-close" style="z-index: 100; background-color: #222; margin-right: 16px;" data-target="modal1">Voltar</a>
        <a v-if="linkOk == true" @click="resetVariables" :href="link+linkText" target="_blank" @click="sendPedido" class="modal-close btn" style="z-index: 100; background-color: rgb(199, 143, 0);" data-target="modal1">Finalizar Pedido</a>
        <a v-else target="_blank" @click="sendPedido" class="btn" style="z-index: 100; background-color: rgb(199, 143, 0);" data-target="modal1">Finalizar Pedido</a>
      </div>
    </form>
  </div>

  <!-- MODAL INDISPONIVEL -->
  <div id="modal-indisponivel" class="modal">
    <div class="modal-content">
      <div class="card-data" style="width: 100%; height: 400px; display: flex; justify-content: center; align-items: center; flex-direction: column;">
        <h5>Dog indisponível</h5>
      </div>
    </div>
    <div class="modal-footer">
      <button class="btn modal-close">Fechar</button>
    </div>
  </div>

  <!-- MODAL FECHADO -->
  <div id="modal-fechado" class="modal">
    <div class="modal-content">
      <div style="height: 400px; display: flex; justify-content: center; align-items: center; flex-direction: column;">
        <h5>Fechamos às {{ gerencial.fechamento }} horas</h5>
        <h6>Abriremos novamente as {{ gerencial.abertura }} horas!</h6>
      </div>
    </div>
    <div class="modal-footer">
      <button class="btn modal-close">Fechar</button>
    </div>
  </div>
</section>

<div class="fixed-action-btn">
    {% if time <= gerencial.abertura or time >= gerencial.fechamento %}
    <a class="btn-floating btn-large red pulse modal-trigger" data-target="modal-fechado">
    {% else %}
    <a class="btn-floating btn-large red pulse modal-trigger" data-target="modal-carrinho">
    {% endif %}
    <i class="large material-icons">shopping_basket</i>
  </a>
</div>
{% endblock %}
{% block script %}
  <script src="{% static 'js/components/index.js' %}"></script>
{% endblock %}
