@media (max-width: 1444px)
{
    .section-card>.all-cards>.card{
        min-width: 30%;
    }
}

@media (max-width: 1200px)
{
    .section-card>.all-cards>.card{
        min-width: 45%;
        max-width: 20%;
    }
}

@media (max-width: 800px)
{
    .section-card>.all-cards>.card{
        min-width: 100%;
        max-width: 20%;
    }
}