.margin-search{
    margin-right: 50px;
}

.search-area{
    position: relative;
    height: 50px;
    width: 500px;
    border-radius: 50%;
    transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  .search-area.active{
    width: 500px;
  }
  .search-area>.input-drop{
    width: 100%;
    height: 100%;
    border: 1px solid rgba(128, 128, 128, 0.247);
    border-radius: 50px;
    background: #fff;
    outline: none;
    padding: 0 60px 0 20px;
    font-size: 18px;
    opacity: 0;
    transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  .search-area>.input-drop.active{
    opacity: 1;
  }
  .search-area>.input-drop::placeholder{
    color: #a6a6a6;
  }
  .search-area .icon-search{
    position: absolute;
    right: 0px;
    top: 50%;
    transform: translateY(-50%);
    height: 45px;
    width: 45px;
    background: #8841ca;
    border-radius: 50%;
    text-align: center;
    line-height: 45px;
    font-size: 22px;
    color: #ffffff;
    cursor: pointer;
    z-index: 1;
    transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  .search-area .icon-search.active{
    right: 5px;
    height: 40px;
    line-height: 40px;
    width: 40px;
    font-size: 20px;
    background: #8841ca;
    color: rgb(255, 255, 255);
    transform: translateY(-50%) rotate(360deg);
  }
  .search-area .icon-cancel{
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 25px;
    color: rgb(255, 255, 255);
    cursor: pointer;
    transition: all 0.5s 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  .search-area .icon-cancel.active{
    right: -40px;
    transform: translateY(-50%) rotate(360deg);
  }
  .search-area .data-search{
    text-align: center;
    padding-top: 7px;
    color: #fff;
    font-size: 18px;
    word-wrap: break-word;
  }
  .search-area .data-search.active{
    display: none;
  }